<%- include('../partials/header') %>
    <h2>New Supplier</h2>
    <form method="post" action="/suppliers" class="mt-3">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input name="name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Address</label>
            <input name="address" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input name="phone" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
    <%- include('../partials/footer') %>